.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 120px;
  grid-template-areas:
    "content banner"
    "content big-progect";
}

.projects__content {
  grid-area: content;
}

/* --------------- */

.projects__figure {
  display: grid;
  grid-template-columns: 280px 380px;
  grid-template-rows: 180px;
  column-gap: 20px;
  grid-area: img;
  grid-template-areas:
    "img figcaption";
}

/* ------------------ */
.projects__figure_img-home {
  background: url('../img/projects/new_home.jpg') 0 0 / contain no-repeat;
}

.projects__figure_img-small {
  background: url('../img/projects/small_muzzles.jpg') 0 0 / contain no-repeat;
}

.projects__figure_img-game {
  background: url('../img/projects/game.jpg') 0 0 / contain no-repeat;
}

.projects__figure_img-best {
  background: url('../img/projects/best_photo.jpg') 0 0 / contain no-repeat;
}

/* ------------ */

.projects__figure:not(:last-child) {
  margin-bottom: 30px;
}

.figcaption {
  grid-area: figcaption;
  padding-top: 5px;
}

.figcaption__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
}

.figcaption__text {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--orange);
}

.link::after {
  content: url(../img/arrow.svg);
  width: 29px;
  height: 29px;
  padding: 0px 0px 0px 15px;
  display: inline-block;
  vertical-align: middle;
}

/* ------------- */
.banner {
  display: grid;
  grid-template-columns: 380px;
  grid-template-rows: 450px;
  background: url('../img/projects/best_friend1.png') 0 10px / cover no-repeat;
  margin-bottom: 52px;
  grid-area: banner;
}

.banner__block {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
  padding: 0px 10px 40px 10px;
}

.banner__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33333;
  color: var(--white);
}

.banner__link {
  padding: 0px 0px 0px 80px;
}

/* ---------------- */
.big-progect {
  grid-area: big-progect;
}

.big-progect__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 22px;
}

.big-progect__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.big-progect__link {
    height: 70px; 
}

.big-progect__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-progect__links{
 display: none;
}

/* ---------------------- */
@media (max-width: 1024px) {
  .projects__title {
    font-size: 44px;
  }

  .projects__container {
    column-gap: 20px;
  }

}


@media (max-width: 768px) {}

@media (max-width: 320px) {}